<header>
    <div class="top-header">
        <div class="logo">
            <a href="/" class="inicio">
                <img src="/images/Logo Digital-Delux (original letras gris y blanca).png" alt="Logo Digital-Delux">
            </a>
        </div>
        <div class="search-bar">
            <input class="form" action="#" method="GET" placeholder="Buscar..."/>
            <i id= "icono-busqueda" class="fa-solid fa-magnifying-glass" ></i>
        </div>
        <div class="iconos">
            <div class="user-login">
                    <a href="/login" class="login">
                        <i id="usuario" class="fa-solid fa-user"></i>
                    </a>
                    <h5 class="nombre-usuario">
                    Nombre Usuario
                    </h5>
            </div>
            <div class="ilike">    
                <i id="like" class="fa-solid fa-thumbs-up"></i>
            </div> 
            <div class="icarrito">   
                <a href="/products/cart" class="carrito">
                    <i id="carrito" class="fa-solid fa-cart-shopping"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="bottom-header">
            <i id="navbar" class="fa-solid fa-bars"></i>
            <nav class="barra-de-navegacion">
                <ul class="opciones">
                    <li><a class="celulares" href="#">Celulares</a></li>
                    <li ><a class="computacion" href="#">Computación</a></li>
                    <li><a class="televisores" href="#">Televisores</a></li>
                    <li><a class="otros" href="#">Otros</a></li>
                </ul>
            </nav>
    </div>
</header>