<article class="product">
    <img src="images/<%#= product.image %>" alt="Imagen del producto">
    <div class="main-features">
        <a href="/product<%#= product.id %>"><h4 class="description">Producto # <%#= product.name %></h4></a>
        <p class="price">$<%#= product.price %></p>
    </div>
</article>