<article class="product">
    <img src="/images/<%= producto.image %>" alt="Imagen del producto">
    <div class="main-features">
        <a href="/products/detail/<%= producto.id %>"><h4 class="description"><%= producto.name %></h4></a>
        <p class="price">$<%= producto.price %></p>
    </div>
</article>