main{
    width: 100%;
}

.formulario{
    background-color:  #473f4a;
    height: 670px;
    width: 85%;
    margin-left: 8%;
    margin-top: 34px;
    margin-bottom: 34px;
}

.imageProfile{
    width: 50%;
    margin: 20px 0px 30px 25%;
}

.cage-Formulario h3{
    display: inline;
    margin-left: 10px;
}

.cage-Formulario{
    margin-bottom: 20px ;
    margin-left: 10px;
}