* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos del body */
body {
    font-family: 'Inter', sans-serif;
    background-color: #01000E;
    width: 100%;   
}

/* ======================================
            Encabezado
========================================= */

header {
    width: 100%;
    background-color: rgba(0,0,0,0.57);
}

    .top-header {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding: 3px;
        align-items: center;
    }

        .logo {
            width: 30%;
        }

        .logo img {
            width: 100%;
        }

        .search-bar {
            width: 40%;
            position: relative;
        }

        .search-bar .form{
            margin: auto;
            padding: 5px 0;
            padding-left: 25px;
            border-radius: 5px;
            border: none;
            width: 80%;
            font-size: 12px;
            position:absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        header div.top-header .search-bar #icono-busqueda {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 12%;
        }

        .top-header .iconos {
            width: 30%;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-wrap: wrap;
        }

        .icon-header {
            width: 25%;
        }

        .icon-header i {
            display: block;
            width: calc(15px + 0.8vw);
            height: calc(15px + 0.8vw);
            border-radius: 50%;
            background-color: #FFFFFF;
            font-size: calc(10px + 0.6vw);
            color: #DD5D20;
            text-align: center;
            padding: 3px;
            margin: 0 auto;
        }

        .icon-header img {
            display: block;
            width: calc(15px + 0.8vw);
            border-radius: 50%;
        }

        .user-login {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            flex-wrap: wrap;
            
        }

        .user-login a {
            text-decoration: none;
        }

        .user-login h5 {
            font-size: calc(3px + 1.1vw);
            font-weight: normal;
            color: #FFFFFF;
            width: min-content;
        }

        .icarrito h5 {
            font-size: calc(3px + 1.1vw);
            font-weight: normal;
            color: #FFFFFF;
            /* width: min-content; */
            width: 20%;
            background-color: red;
            border-radius: 10%;
        }

    .bottom-header {
        width: 100%;
        padding: 10px;
        display: flex;
        justify-content: flex-start;
        color: #DD5D20;
        font-size: 12px;     
    }

        .bottom-header #navbar {
            padding-left: 10px;
        }

        .bottom-header nav{
            width: 80%;
        }

        .bottom-header nav ul {
            display: flex;
            justify-content: space-around;
            list-style: none;
        }

        .bottom-header nav ul li a{
            text-decoration: none;
            color: #DD5D20;
            width: max-content;
        }

/* ======================================
            Main
========================================= */

main {
    padding: 10px;
}


/* ======================================
            Index Main
========================================= */

.top-banner {
    position: relative;
}

    .top-banner img{
        width: 100%;
    }

    .top-banner .banner-slider{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        display: flex;
        justify-content: space-between;
        color: #DD5D20;
    }

    .banner-image-select {
        text-align: center;
    }

    .banner-image-select i {
        color: #D9D9D9;
    }

    .banner-image-select i#first {
        color: #DD5D20;
    }

.main-products {
    width: 100%;
    margin: 0 10px;
}

    .filter {
        width: 80%;
        max-width: 280px;
        background-color: #FFFFFF;
        color: #000;
        padding: 10px;
        margin: 10px 0;
    }

        .filter-category {
            width: 100%;
            padding: 10px;
            margin: 5px 10px;
        }
        
        .checkbox-label {
            display: block;
            
        }


    .featured-category {
        color: #DD5D20;
        margin: 0 10px;
    
    }

    .product {
        width: 80%;
        background-color: #FFFFFF;
        color: #000;
        padding: 10px;
        margin: 1%;
    }

    .main-image {
        width: 90%;
        margin: 5px auto;
    }

    
    .product a {
        text-decoration: none;
        color: #000;
    }
    
/* ======================================
Product-Detail
========================================= */
.main-product {
    width: 100%;
}
    
        .main-features{
            width: 100%;
            color: #dd5d20;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border-top: solid 1px gray;
        }
        
        .no-border {
            border: none;   

        }

            .quantity {
                display: flex;
                align-items: center;
                font-size: calc(12px + 0.6vw);
                color: #DD5D20;
            }

            .quantity input {
                width: 5%;
                min-width: 20px;
                margin: 0 10px;
                /* height: 100%; */
            }

            .add-remove {
                display: flex;
                flex-direction: column;
            }

            .add-remove i{
                font-size: calc(10px + 0.6vw);
                margin: 4px 0;
            }

            .add-to-cart {
                display: flex;
                align-items: center;
            }
            
            .add-to-cart i{
                border-radius: 5px;
                font-size: 20px;
                width: 40px;
                background:  #dd5d20;
                color: white;
                padding: 5px;
                margin: 0 15px;
            }

            .user-button{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                width: 80%;
                margin: 0 auto;
            }
            
            .direct-link {
                text-decoration: none;
            }

.main-pic {
    width: 100%;
}
    
.extra-pic {
    display: none;
}

.tiny-image {
    width: 18%;
    padding: 3px 5px;
}

.info {
    width: 100%;
    color: #FFFFFF;
}

.info-detail {
    margin: 10px 0;
}

/* ======================================
            Cart
========================================= */

.cart-page {
    background-color: #473f4a;
    margin: 10px auto;
    width: 60%;
    padding: 5px;
    /* color: #DD5D20; */
    color: white
}

.product-cart {
    width: 100%;
    margin: 5px 0;
    border: solid 1px grey;
    
}

    .product-image-in-cart {
        width: 30%;
        margin-right: 5px;
    }

    /* .product-cart .cart-q {
        width: 30%;
        margin: 0 10px;
    } */

    .image-name {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        font-size: calc(8px + 1.2vw);
        margin: 0 auto;
    }

    .buy-detail {
        width: 90%;
        display: flex;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

        .price-delete {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 45%;
        }

        .cart-q {
            width: 45%;
        }

    .send-buy {
        width: 90%;
        margin: 10px auto;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        font-size: 10px;
    }

    .send-buy div {
        /* width: 35%; */
        padding-right: 10%;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
    
    }
    
    .send-buy div a {
        font-size: 8px;
    }
    
    .send-buy p{
        width: 35%; 
    }
    
    .total {
        width: 90%;
        margin: 10px auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .total h3{
        width: 65%;
        padding-right: 20%;
    
    }
    
    .total p{
        width: 35%;
      
    }
/*     
    .product-name {

    } */



/* ======================================
            Profile
========================================= */
.profile {
    background-color: #473f4a;
    width: 85%;
    margin: 25px auto;
    padding: 15px 5px;
}

    .profile-image {
        width: 100%;
        padding: 20px auto;
        text-align: center;
    }

    .image-profile {
        width: 50%;
        max-width: 240px;
        margin: 15px;
    }

    .main-user-data {
        width: 95%;
        margin: 20px auto;
        border: 2px solid grey;
    }

    .profile-data {
        width: 95%;
        margin: 15px 0;
        padding: 5px;
        color: #DD5D20;
        display: flex;
        flex-wrap: wrap;
        font-size: calc(6px + 1.4vw);
    }

    .profile-data i {
        width: 7%;
    }

    .profile-data h3 {
        width: 90%;
        margin-left: 5px;
        /* width: fit-content; */
    }

.user-content {
    width: 85%;
    margin: 30px auto;
    padding: 15px 5px;
    color: #DD5D20;
}

/* ======================================
            Forms
========================================= */
    
        .register-form {
          margin: 20px auto;
          width: 50%;
          min-width: 300px;
          max-width: 500px;
          padding: 10px;
          background-color: #473f4a;
          text-align: center;
        }

        .login-form {
            background-color: #473f4a;
            width: 260px;
            margin: 20px auto;
            padding: 15px;
            text-align: center;
        }

        .product-form {
            background-color: #473f4a;
            width: 90%;
            margin:0 auto;
            font-size: 18px;
            padding: 15px;   
        }
        
        .wellcome {
            color: #dd5d20;
            width: 80%;
            margin: 0 auto;
            text-align: center;
        }

        .wellcome h3 {
            font-size: 17px;
        }
        
        .wellcome p {
            font-size: 16px;
        }
        
        .form-control {
            text-align: start;
            margin: 15px auto;
        }
        
        .form-error {
            color: red;
            font-size: 10px;
        }

        .error-fe {
            color: orange;
            font-size: 10px;
            margin: 3px 0;
        }

        .no-show {
            display: none;
        }

        .password-form-error {
            padding-left: 10px;
        }

        .input-title {
            font-size: 15px;
            color:black;
            font-weight: bold;
        }
        
        .control {
            width: 95%;
            padding: 8px 8px;
            margin-top: 5px;
        }

        .rememberme {
            color: #060E55;
            font-size: 15px;
        }

        .checkbox {
            margin: 10px;
        }

        /* .create-product{
            text-decoration: none;
        } */
        
        .form-button {
            display: block;
            background-color: #dd5d20;
            width: 40%;
            min-width: 140px;
            border:none;
            font-size: 20px;
            color:#000000;
            padding:5px 10px;
            border-radius: 8px;
            margin: 10px auto;
        }

        .app-button {
            margin: 5px auto;
            border-radius: 7px;
            background-color: #DD5D20; 
            height: 30px;
            width: 95%;
            border: none;
         }

        .to-other-form {
            color: #060e55;
            margin: 10px auto;

        }
        
        .to-other-form h3 {
            font-size: 16px;
        }
        
        .to-other-form a {
            color: #060e55;
            font-size: 15px;
        }
        
        .required {
            font-size: 12px;
            color:black;
            font-weight: bold;
        }

        .textarea {
            width: 100%;
            border-radius: 10px;
            height: 60px;
            margin-top: 5px;
        }

        .load-product-image {
            width: 95%;
            display: flex;
            flex-wrap: wrap;
        }
     

/* ======================================
            Pie de página
========================================= */

footer {
    background-color: #DD5D20;
    color: #000;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    footer div.redes-sociales {
        display: flex;
        justify-content: flex-end;
        font-size: 25px;
        padding: 15px;
    }

    footer div.redes-sociales i {
        margin: 0 5px;
    }

    footer div.copyright {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
    }

    footer div.copyright h3 {
        color: #FFFFFF;
        margin-left: 10px;
        font-weight: normal;
    }


/* 
0-480		    smaller smartphones
481-768	        tablets & larger smartphones
769-1279	    laptops, larger tablets in landscape, and small desktops
1280+		    larger desktops and monitors
 */

 /* tablets & larger smartphones */
@media (min-width: 481px) { 
    .main-products {
        display: flex;
        flex-wrap: wrap;
    }

    .filter {
        width: 35%;
    }

    .home-products {
        width: 65%;
    }

    /* Product Detail  */

    .main-product {
        padding: 10px;
        display: flex;
    }

    .main-pic {
        width: 55%;
    }

    .main-features {
        /* width: 45%; */
        padding: 5px;
    }

    .extra-pic-user-b {
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        align-items: center;
    }

        .extra-pic {
            display: flex;
            align-items: center;
            /* justify-content: center; */
            width: 55%;
        }

        .user-button{
            width: 45%;
        }

    .info-others {
        display: flex;
    }

        .info{
            width: 50%;
            padding: 15px;
        }

        .others{
            width: 50%;
            padding: 15px;
        }

        .category {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            margin: 10px;
            justify-content: flex-start;
        }
        
        .featured-category {
            width: 100%;
        }
        
        .product {
            width: 45%;
        }

    /* Forms  */

    .main-fields {
        display:flex;
        flex-wrap: wrap;
    }

    .main-fields .form-control {
        width: 45%;
    }

    .product-cart {
        display: flex;
        justify-content: space-between;
    }

    /* Profile  */

    .profile {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .profile-image {
        width: 30%;
    }

    .main-user-data {
        width: 70%;
    }

}