*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #01000E;
    width: 100%;

}

main section article.producto-principal{
    display: flex;
    /* align-items: center; */
}

main section article.producto-principal div.foto-principal{
    width: 60%;
}

main section article.producto-principal div.foto-principal img{
    width: 70%;
    margin-left: 5%;

}

main section article.producto-principal div.descripcion{
    width: 40%;
    color: #dd5d20;
    display: flex;
    flex-direction: column;
   
    justify-content: space-between;
    
}

.cantidad{
    display: flex;
}

.cantidad input{
    width: 15%;
    margin-left: 10px;
    margin-right: 10px;
}

.cantidad i{
    font-size: 25px;
}

.agregar{
    display: flex;
}

.agregar i{
    border-radius: 20%;
    margin-left: 10px;
    font-size: 25px;
}

.descripcion button{
    font-size: 20px;
    width: 50%;
    margin-left: 30px;
    background:  #dd5d20;
    color: white;
    border-radius: 10px;
}

.fotos-secundarias{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.fotos-secundarias img{
    width: 10%;
}

.contenedor-info-otros{
    display: flex;
    margin-top: 70px;
}

.info{
    width: 50%;
}

.info div{
    margin-top: 70px;
}

.info div h4,
.info div p{
    color: white;
}

.otros{
    width: 50%;
}

.otros div article img{
    width: 50%;
}

.otros-articulos{
    display: flex;
    margin-top: 20px;
}

.otros-articulos article{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;

}

.otros-articulos article div p{
    color: black;
}