*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #01000E;
    width: 100%;

}

/* main section article.producto-principal{
    display: flex;
} */

main section article.producto-principal div.foto-principal{
    width: 100%;
    margin-left: 5%;
}

main section article.producto-principal div.foto-principal img{
    width: 90%;

}

main section article.producto-principal div.descripcion{
    width: 100%;
    color: #dd5d20;
    display: flex;
    flex-direction: column;
   
    justify-content: space-between;
    
}

.cantidad{
    display: flex;
    align-items: center;
}

.cantidad input{
    width: 15%;
    margin-left: 10px;
    margin-right: 10px;
    height: 100%;
}

.cantidad i{
    font-size: 25px;
}

.agregar{
    display: flex;
    align-items: center;
}

.agregar i{
    border-radius: 20%;
    font-size: 25px;
}

.descripcion .cantidad button{
    font-size: 20px;
    width: 20%;
    background:  #dd5d20;
    color: white;
    border-radius: 10px;
    padding: 5px;
}

.descripcion .agregar button{
    font-size: 20px;
    width: 30%;
    background:  #dd5d20;
    color: white;
    border-radius: 10px;
    padding: 5px;
    margin-left: 7%;
}

.descripcion button{
    font-size: 20px;
    width: 90%;
    background:  #dd5d20;
    color: white;
    border-radius: 10px;
    padding: 5px;
}

.fotos-secundarias{
    display: none;
}

.contenedor-info-otros{
    margin-top: 70px;
}

.info{
    width: 100%;
}

.info div{
    margin-top: 10px;
}

.info div h4,
.info div p{
    color: white;
}

.otros{
    width: 100%;
    color: white;
}

.otros div article img{
    width: 90%;
}

.otros-articulos{
    display: flex;
    /* margin-top: 20px; */
}

.otros-articulos article{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin: 0px 4px;
}

.otros-articulos article div{
    border-top: solid 1px gray;
    width: 100%;
}

.otros-articulos article div p{
    color: black;
    font-size: 11px;
}

@media (min-width: 481px){ /* tablets & larger smartphones */
    
    main section article.producto-principal{
        display: flex;
    }
    
    main section article.producto-principal div.foto-principal{
        width: 60%;
    }

    main section article.producto-principal div.foto-principal img{
        width: 70%;
        margin-left: 5%;
    
    }

    main section article.producto-principal div.descripcion{
        width: 40%;
    }

    .contenedor-info-otros{
        display: flex;
    }

    .info{
        width: 50%;
    }

    .otros{
        width: 50%;
    }

    .fotos-secundarias{
        margin-top: 30px;
        display: flex;
        /* justify-content: center; */
        width: 100%;
    }

    .fotos-secundarias img{
        width: 12%;
        padding: 3px;
    }
 

} 