<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Delux</title>
    <script src="https://kit.fontawesome.com/145bc1f50c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/stylesIndex.css">
</head>
<body>
    <header>

    </header>

    <main>
        <div class="top-banner">
            <img src="" alt="Imagen banner">
            <div class="banner-slider">
                <i class="fa-solid fa-angle-left"></i>
                <i class="fa-solid fa-angle-right"></i>
            </div>
        </div>
        <div class="banner-image-select">
            <i id="first" class="fa-solid fa-circle"></i>
            <i id="second" class="fa-solid fa-circle"></i>
            <i id="third" class="fa-solid fa-circle"></i>
            <i id="fourth" class="fa-solid fa-circle"></i>
            <i id="fifth" class="fa-solid fa-circle"></i>
        </div>
    </main>

    <footer>

    </footer>
</body>
</html>