<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- logo en el navegador -->
    <link rel="icon" href="/images/Logo (símbolo sin letras).png"/>
    <title>Digital Delux</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Poppins:ital,wght@0,400;1,300&family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/145bc1f50c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/stylesHeaderFooter.css">
    <link rel="stylesheet" href="css/stylesLogin.css">
</head>
<body>
    <header>
        <div class="top-header">
            <div class="logo">
                <img src="/images/Logo Digital-Delux (original letras gris y blanca).png" alt="Logo Digital-Delux">
            </div>
            <div class="search-bar">
                <input class="form" action="#" method="GET" placeholder="Buscar..."/>
                <i id= "icono-busqueda" class="fa-solid fa-magnifying-glass" ></i>
            </div>
            <div class="iconos">
                <div class="user-login">
                        <i id="usuario" class="fa-solid fa-user"></i>
                        <h5 class="nombre-usuario">
                        Nombre Usuario
                        </h5>
                </div>
                    <i id="like" class="fa-solid fa-thumbs-up"></i>
                    <i id="carrito" class="fa-solid fa-cart-shopping"></i>
            </div>
        </div>

        <div class="bottom-header">
                <i id="navbar" class="fa-solid fa-bars"></i>
                <nav class="barra-de-navegacion">
                    <ul class="opciones">
                        <li><a class="celulares" href="#">Celulares</a></li>
                        <li ><a class="computacion" href="#">Computación</a></li>
                        <li><a class="televisores" href="#">Televisores</a></li>
                        <li><a class="otros" href="#">Otros</a></li>
                    </ul>
                </nav>
        </div>
        </div>
    </header>
    <main>
        <form action="/login" method="post" class="formulario">
          
          <h3 class="frase-login">¡Hola!, favor de ingresar usuario y contraseña </h3>
          
          <br>
          <div class="login-formulario">
              <label class="titulo-login">Usuario</label>
              <input type="text" name="usuario" required>
          </div>
      
          <div class="login-formulario">
              <label class="titulo-login" >Contraseña</label>
              <input type="password" name="contraseña" required>
              
          </div>
    
          <h3 class="pregunta">¿Olvidaste tu contraseña?</h3>
      
          <br>
      
          <button input type="submit" class="boton-login">Ingresar</button>
    
          <br>
    
          <button input type="submit" class="boton-apps">Ingresar con Google</button>
          <br>
    
          <button input type="submit" class="boton-apps">Ingresar con Facebook</button>
    
          <br>
          
          <div>
              <br>
              <h3 class="pregunta3">¿Todavía no estas registrado?</h3>
              <a href="/register" class="pregunta2">Haz click aquí</a>
          </div>
      </form>
    </main>
    
    <footer>
        <div class="redes-sociales">
            <i id="wpp" class="fa-brands fa-whatsapp"></i>
            <i id="insta" class="fa-brands fa-instagram"></i>
            <i id="face" class="fa-brands fa-facebook"></i>
        </div>
        <div class="copyright">
            <i id="copy" class="fa-solid fa-copyright"></i>
            <h3>Todos los derechos reservados</h3>
        </div>
    </footer>
</body>
</html>





