<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- logo en el navegador -->
    <link rel="icon" href="/images/Logo (símbolo sin letras).png"/>
    <title>Digital Delux</title>
</head>
<body>
    <form action="/login" method="post" class="formulario">
        
        <h3 class="frase-login">¡Hola!, favor de ingresar usuario y contraseña </h3>
        
        <br>
        <div class="login-formulario">
            <label class="titulo-login">Usuario</label>
            <input type="text" name="usuario" required>
        </div>
    
        <div class="login-formulario">
            <label class="titulo-login" >Contraseña</label>
            <input type="password" name="contraseña" required>
            
        </div>

        <h3 class="pregunta">¿Olvidaste tu contraseña?</h3>
    
        <br>
    
        <button input type="submit" class="boton-login">Ingresar</button>

        <br>

        <button input type="submit" class="boton-apps">Ingresar con Google</button>
        <br>

        <button input type="submit" class="boton-apps">Ingresar con Facebook</button>

        <br>
        
        <div>
            <br>
            <h3 class="pregunta-de-login">¿Todavía no estás registrado?</h3>
        </div>
    
        <button input type="submit" class="otra-opciones-de-login">Haz click aquí</button>
    
    </form>
</body>
</html>