<%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/stylesLogin.css">
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <form action="/users/login" method="post" class="formulario">
          
          <h3 class="frase-login">¡Hola!, favor de ingresar usuario y contraseña </h3>
          
          <div class="login-formulario">
              <label class="titulo-login">Email</label>
              <input type="email" name="email">
              <p><%= locals.errors?.email ? errors.email.msg : "" %></p>
          </div>
      
          <div class="login-formulario">
              <label class="titulo-login" >Contraseña</label>
              <input type="password" name="password">
              
          </div>
    
          <h3 class="pregunta">¿Olvidaste tu contraseña?</h3>

          <label class="remember"><input type="checkbox" name="rememberMe" value="rememberme">Recordar mi usuario</label>
    
          <button type="submit" class="boton-login">Ingresar</button>
    
          <button type="submit" class="boton-apps">Ingresar con Google</button>
    
          <button type="submit" class="boton-apps">Ingresar con Facebook</button>
          
          <div class="preguntas">
              <h3 class="pregunta3">¿Todavía no estas registrado?</h3>
              <a href="/users/register" class="pregunta2">Haz click aquí</a>
          </div>
      </form>
    </main>
    
    <%- include('../partials/footer') %>
</body>
</html>





