<%- include('../partials/head') %>

    <body>
        <%- include('../partials/header') %>
            <main>
                <section class="cart-page">
                    <div>
                        <div>
                            <table>
                                <thead>
                                    <tr>
                                        <th style="width: 10%;">
                                            <strong>#</strong>
                                        </th>
                                        <th style="width: 30%;">
                                            <strong>Producto</strong>
                                        </th>
                                        <th style="width: 20%;">
                                            <strong>Precio</strong>
                                        </th>
                                        <th style="width: 30%;">
                                            <strong>Cantidad</strong>
                                        </th>
                                        <th style="width: 5%;">
                                            <strong>Subtotal</strong>
                                        </th>
                                        <th style="width: 0px;"></th>
                                    </tr>
                                </thead>
                                <tbody class="cardRows">
                                </tbody>
                            </table>
                            <div>
                                <h2>Total: <span>$ 456789</span></h2>
                            </div>
                        </div>
                    </div>

                    <div class="buy-now">
                        <button type="submit" class="form-button">Comprar</button>
                    </div>
                </section>

                <section class="cart-page">
                    <div class="send-buy">
                        <div>
                            <h3>Envío</h3>
                            <a href="#" class="change-address">Cambiar dirección de envío</a>
                        </div>
                        <p class="price">$99.999</p>
                    </div>
                </section>
            </main>

            <%- include('../partials/footer') %>
                <script src="/js/product-detail.js"></script>
                <script src="/js/cart.js"></script>
    </body>

    </html>