    <%- include('../partials/head') %>
    
<body>
    <%- include('../partials/header') %>
    <main>
        <section class="cart-page">
            <div class="product-cart">
                <div class="image-name">
                    <img src="/images/img-tv-samsung-smart.jpg" alt="imagen-principal" class="product-image-in-cart">
                    <h3 class="product-name">Nombre Producto</h3>
                </div>
                <div class="buy-detail">
                    <div class="quantity cart-q">
                        <p>Cantidad</p>
                        <input type="number">
                        <div class="add-remove">
                            <i class="fas fa-plus-circle"></i>
                            <i class="fas fa-minus-circle"></i>
                        </div>
                    </div>
                    <div class="price-delete">
                        <p class="price">$ 99.999</p>
                        <i class="fa-solid fa-trash-can"></i>
                    </div>  
                </div>  
            </div>
            

            <div class="send-buy">
                <div>
                    <h3>Envío</h3>
                    <a href="#" class="change-address">Cambiar dirección de envío</a>
                </div>
                    <p class="price">$99.999</p>
            </div>

            <div class="total">
                <h3 class="total">Total</h3>
                <p class="price">$99.999</p>
            </div>

            <div class="buy-now">
                <button type="submit" class="form-button">Comprar</button>
            </div>
        </section>
    </main>
    
    <%- include('../partials/footer') %>
</body>
</html>