<%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/styleCreacionYedicion.css">
</head>
<body>
    <%- include('../partials/header') %>
    <main>

    <form class="formularioEdicion" action="/products/create" method="POST" >
        <div class="nombreFormulario">
            <h3 class="FormularioCreacion"> Formulario de creación:</h3>
        </div>

       <div class="campoPrincipal">

     
            <div class="campoEditable">
                <b><label for="name">Nombre del producto:</label></b><br>
                <input type="text" name="name" id="name">
            </div>
            <div class="campoEditable">
                <b><label for="section" >Sección:</label></b><br>
                <select name="section" id="section">
                    <option value="celular">Celular</option>
                    <option value="television">Televisión</option>
                    <option value="computacion">Computación</option>
                    <option value="otro">Otros</option>
                </select>
            </div>

            
            <div class="campoEditable">
                <b><label for="price">Precio:</label></b><br>
                <input type="number" name="price" id="price">
            </div>
            
            <div class="campoEditable">
                <b><label for="discount" >Descuento:</label></b><br>
                <input type="number" name="discount" id="discount">
            </div>
            
            <div class="campoEditable">
                <b><label for="category" >Categoría:</label></b><br>
                <select name="category" id="category">
                    <option value=""></option>
                    <option value="in-sale">Oferta</option>
                    <option value="novedades">Novedades</option>
                    <option value="lo más destacado">Destacado</option>
                </select>
            </div>

            <div class="campoEditable">
                <b><label for="brand" >Marca:</label></b><br>
                <input type="text" name="brand" id="brand">
            </div>
            
            <div class="campoEditable">
                <b><label for="image">Imagen:</label></b><br>
                <input type="file" name="image" id="image" accept=".jpg">
            </div>
        </div>
        <div class="campoEditable">
            <b><label for="description">Descripción:</label></b><br>
            <textarea name="description" id="description"></textarea>
        </div>
        <div class="campoEditable">
            <b><label for="features">Características:</label></b><br>
            <textarea name="features" id="features"></textarea>
        </div>
        <div class="guardarProducto">
             <button id="button" type="submit">Guardar producto</button>
        </div>
    </form>
</main>
    
    <%- include('../partials/footer') %>
</body>
</html>