<%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/styleEdicion.css">
</head>
<body>
    <%- include('../partials/header') %>
    <main>
       <a class="button" href="/products/create">Crear Producto</a>
    <form class="formularioEdicion">
        <div>
            <h3 class="tituloFormularioDeEdicion">Formulario de edición:</h3>
        </div>
        <div id="edicionNombredelProducto">
            <b><label id="label1">Nombre del producto:</label></b><br>
            <input type="text" name="edicion" id="inputNombreP">
        </div>
        <div id="edicionCategoria">
            <b><label id="label2" >Modelo:</label></b><br>
            <input type="text" name="Modelo" id="inputCategoria">
        </div>

        <div id="edicionMarca">
            <b><label id="label7" >Marca:</label></b><br>
            <input type="text" name="marca" id="inputMarca">
        </div>

        <div id="edicionColor">
            <b><label id="label3" >Color:</label></b><br>
            <input type="text" name="Color" id="inputColor">
        </div>
        <div id="edicionPrecio">
            <b><label id="label4">Precio:</label></b><br>
            <input type="text" name="Precio" id="inputPrecio">
        </div>
        <div class="edicionImagen">
            <b><label id="label5">Imagen:</label></b><br>
            <input type="file" name="imgProducto" id="imagenProducto" accept=".jpg">
        </div>
        <div class="edicionDescripcion">
            <b><label id="label6">Descripción:</label></b><br>
            <textarea id="textArea"></textarea>
        </div>
        <div>
             <button id="button" type="submit">Guardar producto</button>
        </div>
    </form>
</main>
    
    <%- include('../partials/footer') %>
</body>
</html>