<%- include('../partials/head') %>
    <link rel="stylesheet" href="css/stylesProductCart.css">
</head>
<body>

    <%- include('../partials/header') %>

    <main>
        <div class="producto">
            <div class="imagen-nombre">
                <img src="images/img-tv-samsung-smart.jpg" alt="imagen-principal" width="30px" height="30px" class="imagen">
                <div class="nombre-caract">
                    <h3 class="nombreproducto">Nombre Producto</h3>
                    <p class="destacada">Característica destacada</p>
                </div>
            </div>
            <div class="cantidad">
                <p>Cantidad</p>
                <input type="number">
                <div class="signos">
                    <i class="fas fa-plus-circle"></i>
                    <i class="fas fa-minus-circle"></i>
                </div>
            </div>
            <div class="precio-borrar">
                <p class="price">$ 99.999</p>
                <i class="fa-solid fa-trash-can"></i>
            </div>  
        </div>
        <div class="producto">
            <div class="imagen-nombre">
                <img src="images/img-tv-samsung-smart.jpg" alt="imagen-principal" width="30px" height="30px" class="imagen">
                <div class="nombre-caract">
                    <h3 class="nombreproducto">Nombre Producto</h3>
                    <p class="destacada">Característica destacada</p>
                </div>
            </div>
            <div class="cantidad">
                <p>Cantidad</p>
                <input type="number">
                <div class="signos">
                    <i class="fas fa-plus-circle"></i>
                    <i class="fas fa-minus-circle"></i>
                </div>
            </div>
            <div class="precio-borrar">
                <p class="price">$ 99.999</p>
                <i class="fa-solid fa-trash-can"></i>
            </div>  
        </div>    

        <div class="envio">
            <div>
                <h3>Envío</h3>
                <a href="#" class="cambiarDireccion">Cambiar dirección de envío</a>
            </div>
                <p class="price3">$99.999</p>
        </div>

        <div class="total">
            <h3 class="total">Total</h3>
            <p class="price4">$99.999</p>
        </div>

        <div class="comprar">
            <button type="submit">Comprar</button>
        </div>
    </main>
    
    <%- include('../partials/footer') %>
</body>
</html>