<%- include('../partials/head') %>
    <link rel="stylesheet" href="css/stylesProductDetail.css">
</head>
<body>
    <%- include('../partials/header') %>

    <main>
        <section>
            <article class="producto-principal">
                <div class="foto-principal">
                    <img src="images/img-tv-samsung-smart.jpg" alt="imagen-principal">
                </div>
                <div class="descripcion">
                    <h3>Nombre Producto</h3>
                    <h3 class="precio">$230.000</h3>
                    <div class="cantidad">
                        <p>Cantidad</p>
                        <input type="text">
                        <div>
                            <!-- <button type="button"><i class="fas fa-plus-circle"></i></button>
                            <button type="button"><i class="fas fa-minus-circle"></i></button> -->
                            <i class="fas fa-plus-circle"></i>
                            <i class="fas fa-minus-circle"></i>
                        </div>
                    </div>
                    <div class="agregar">
                        <p>Agregar al carrito</p>
                        <!-- <button type="button"><i class="fas fa-cart-plus"></i></button> -->
                        <i class="fas fa-cart-plus"></i>
                    </div>
                    <button>Comprar</button>
                </div>
            </article>
            <div class="fotos-secundarias">
                <img src="images/img-tv-samsung-smart.jpg" alt="imagen-sec-1">
                <img src="images/img-tv-samsung-smart.jpg" alt="imagen-sec-2">
                <img src="images/img-tv-samsung-smart.jpg" alt="imagen-sec-3">
                <img src="images/img-tv-samsung-smart.jpg" alt="imagen-sec-4">
                <img src="images/img-tv-samsung-smart.jpg" alt="imagen-sec-5">
            </div>
            <section class="contenedor-info-otros">
                <section class="info">
                    <div>
                        <h4>Detalles del producto</h4>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores ut saepe pariatur molestiae? Harum magnam culpa aspernatur, soluta, porro perferendis laudantium libero sequi mollitia, ipsam iste id odio atque dicta?</p>
                    </div>
                    <div>
                        <h4>Caracteristicas</h4>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores ut saepe pariatur molestiae? Harum magnam culpa aspernatur, soluta, porro perferendis laudantium libero sequi mollitia, ipsam iste id odio atque dicta?</p>
                    </div>
                </section>
                <section class="otros">
                    <h4>Productos del mismo vendedor</h4>
                    <div class="otros-articulos">
                        <article>
                            <img src="images/img-cafetera-moulinex.jpg" alt="">
                            <div>
                                <p class="precio">$230.000</p>
                                <p>Descripción</p>
                            </div>
                        </article>
                        <article>
                            <img src="images/img-cafetera-moulinex.jpg" alt="">
                            <div>
                                <p class="precio">$230.000</p>
                                <p>Descripción</p>
                            </div>
                        </article>
                    </div>
                    <h4>Podría interesarte</h4>
                    <div class="otros-articulos">
                        <article>
                            <img src="images/img-samsung-galaxy-s10.jpg" alt="">
                            <div>
                                <p class="precio">$230.000</p>
                                <p>Descripción</p>
                            </div>
                        </article>
                        <article>
                            <img src="images/img-samsung-galaxy-s10.jpg" alt="">
                            <div>
                                <p class="precio">$230.000</p>
                                <p>Descripción</p>
                            </div>
                        </article>
                    </div>
                    <h4>Productos relacionados</h4>
                    <div class="otros-articulos">
                        <article>
                            <img src="images/img-macbook-pro-2019.jpg" alt="">
                            <div>
                                <p class="precio">$230.000</p>
                                <p>Descripción</p>
                            </div>
                        </article>
                        <article>
                            <img src="images/img-macbook-pro-2019.jpg" alt="">
                            <div>
                                <p class="precio">$230.000</p>
                                <p>Descripción</p>
                            </div>
                        </article>
                    </div>
                </section>
            </section>
            
        </section>
    </main>

    <%- include('../partials/footer') %>
    
</body>
</html>